hr {
    background-color: #EAF6F6;
    border-style: none;
    height: 2px;
    border-top: 10px dotted lightgrey; width: 90px;
    }  
  img {
    border-radius: 35%;
  }
  body {
    background-color: #EAF6F6;
  }