.flag {
    height: 520px;
    width: 988px;
    position: relative;
    border: 5px solid gold;
  }
  .field {
    width: 396px;
    height: 280px;
    background-color: blue;
    position: absolute;
    top: 0;
  }
  .stripe {
    height: 40px;
    width: 100%;
  }
  .red {
    width: 100%;
    background-color: red;
  }
  .white {
    width: 100%;
    background-color: white;
  }
  .first {
    margin-top: 20px;
    margin-left: 20px;
  }
  p {
    color: white;
    padding: 0;
    margin: -15.5px;
    font-size: 33px;
    white-space: pre;
  }
  